.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #2b2a2a7e;
  box-shadow: 0 0 10px #f7f6f688;
  color: #ccc;
  font-family: 'Courier New', Courier, monospace;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #302f2f88;

}

.stats p {
  font-size: 16px;
  margin: 5px 0;
  color: #ccc;
}

.replace-section {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #0c0c0c;
  flex: 1;
  background-color: #302f2f88;
}

button {
  padding: 10px;
  background-color: #fd3300;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: cursive;
  font-weight: bold;
  font-style: italic;
}

button:hover {
  background-color: #24c1ff;
  transform: scaleX(1.1);
}

